*{
  margin: 0;
  padding: 0;
}
body{
  font-family:'微软雅黑';
  //overflow-x: hidden;
  width: 100%;
  height: 100%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
$backcolor: #ffbf08;
//header部分
.header{
  width: 100%;
  min-width: 1500px;
  height:80px;
  position: relative;
}
.nav1{
  background-color: rgba(61, 68, 74, 0.74);
  width: 100%;
  min-width: 1500px;
  height:80px;
  display:block;
  z-index: 100000;
}
.logo-area{
  .logo_bgc{
    width:400px;
    height:80px;
    background-color: $backcolor;
    position: absolute;
    top: 0;
    z-index: 51;
    //@media screen and (min-width:950px){
    //  width: 30%;
    //}
    //@media screen and (max-width:950px){
    //  width:300px;
    //}
  }
  .logo_bgc:after{
    position: absolute;
    content:'';
    width: 0;
    height: 0;
    left:100%;
    top: 0px;
    border: 40px solid transparent;
    border-left-color:#ffbf08;
    border-top-color: #ffbf08;
  }
}
.page-area{
  .page_bgc{
    width: 100% ;
    height: 50px;
    background-color: rgba(82, 82, 82, 0.9);
    z-index: 50;
    top: 30px;
    position: absolute;
    transition: width .3s linear;
  }
  .page_release{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: $backcolor;
    display: inline-block;
    line-height: 40px;
    text-align: center;
  }
  .page_item{
    margin-left:500px;
    .page_border{
      display:block;
      width: 0px;
      height:4px;
      background: $backcolor;
      position:absolute;
      left: 0px;
      bottom: 0;
      transition:width .3s linear;
    }
    li{
      display: inline-block;
      font-size: 22px;
      line-height:50px;
      margin-right: 60px;
    }
    a{
      color: #ffffff;
      cursor: pointer;
    }
  }
  .type_menu{
    width: 250px;
    height:400px;
    position: absolute;
    left:530px;
    top: 50px;
    background-color: #575757;
    padding: 30px 20px;
    display: none;
    box-sizing: border-box;
    li{
      width: 100%;
      height: 50px;
      text-align: center;
    }
    li:hover{
      background-color: #494949;
      a{
        color: $backcolor;
      }
    }
  }
  .page_search{
    .search_text{
      width: 200px;
      height:30px;
      background-color: #919191;
      border:none;
      border-radius:10px;
      position: absolute;
      left: 1200px;
      top: 10px;
      box-sizing: border-box;
      padding: 0 20px;
      //字体设置
      font-size:18px;
      color: #ffffff;
      line-height: 30px;

    }
    input.search_text:focus{
      outline: none;
    }
    img{
      position: absolute;
      left :1368px;
      top:15px;
      opacity: 0.6;
    }
  }
}
.log-area{
  ul{
    margin-right: 30px;
    @media screen and (max-width: 950px) {
      color: $backcolor;
      display: none;
    }
    li{
      float: right;
      font-size:20px;
      z-index: 101;
      margin-right: 20px;
      color: $backcolor;
      cursor: pointer;
    }
    .registration{
      color: #fff !important;
    }
  }
}

//banner
.banner{
  margin: 0 auto;
  width: 100%;
  min-width: 1500px;
  height: 420px;
  background-color: #666;
  position: relative;
  overflow-x: hidden;
  ul.banner-content{
    width:11520px;
    height: 100%;
    overflow-y: hidden;
    li{
      float: left;
    }
  }
  .next,
  .prev{
    position: absolute;
    top:45%;
    width: 60px;
    height: 60px;
    background-color: #000000;
    opacity:0;
    border-radius: 60px;
    z-index:9000;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .next:hover,
  .prev:hover{
    opacity: .3;
  }
  .next{
    left: 1750px;
  }
  .prev{
    left:20px;
  }
  .banner-dots{
    position: absolute;
    top: 90%;
    left: 45%;
    li{
      float: left;
      margin-right: 20px;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: #fff;
      opacity: 0.5;
    }
    .cur{
      width: 30px;
      opacity: 1;
      background-color:$backcolor;
      animation: dotChange .5s  linear;
    }
    @keyframes dotChange {
      0%{
        opacity: 0.5;
        width: 15px;
      }
      100%{
        opacity: 1;
        width: 30px;
      }
    }
  }
}
//main
//hot-area
.main{
  width: 100%;
  position: relative;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  .hot-area{
    width: 1465px;
    margin: 10px auto;
  }
  .hot_title{
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    color: #ffffff;
    height: 80px;
    background-color: $backcolor;
  }
  .hot_wrap {
    height: 350px;
    border: 3px solid $backcolor;
    box-sizing: border-box;
    padding: 25px 60px;
  }
  .hot_content{
    margin:0 auto;
    height: 300px;
  }
  .hot_1,
  .hot_2,
  .hot_3,
  .hot_4,
  .hot_5
  {
    float: left;
    width: 200.8px;
    height:300px;
    margin-right:80px;
    background-color: #cccccc;
    border: 1px solid #666;
    .top1{
      float: left;
      margin-top: 1px;
      margin-left: 150px;
    }
    .hot_imgcontent1{
      width: 100%;
      height: 80px;
      position: relative;
      top:220px;
      background-color: #fff;
    }
  }

  .hot_5{
    margin-right: 0 !important;
  }


  //新品发布
  .new-area{
    @extend .hot-area;
    margin-top: 40px;
  }
  .new_title{
    @extend .hot_title;
  }
  .new_wrap{
    @extend .hot_wrap
  }
  .new_content{
    @extend .hot_content
  }
  .new_1,
  .new_2,
  .new_3,
  .new_4,
  .new_5{
    @extend .hot_1;
  }
  .new_5{
    @extend .hot_5
  }
}

//商品详细
.main-type{
  width: 100%;
  margin: 0 auto;
  .type_wrap{
    width: 1465px;
    margin: 0px auto;
    .type_title{
      line-height: 60px;
      margin-top: 40px;
      .title_left{
        display: inline-block;
        font-size: 30px;
        color: #000;
        border-left:10px solid $backcolor;
        padding-left: 10px;
      }
      .title_right{
        display: inline-block;
        font-size: 20px;
        float: right;
        a{
          color: #666;
        }
        a:hover{
          color: $backcolor;
        }
      }
    }
    .type_banner{
      width: 100%;
      height: 300px;
      background-color: #cccccc;
    }
    .type_bd{
      width: 100%;
      height: 300px;
      margin-top: 20px;
      .bd_list{
        li{
          float: left;
          width: 15%;
          height: 300px;
          background-color: #cccccc;
          margin-right: 6.25%;
        }
        li:nth-child(5){
          margin-right: 0;
        }
      }
    }
  }
}

//侧边栏
.slidebar{
  position: fixed;
  right: 30px;
  opacity: 0;
  bottom: 250px;
  .slide{
    width: 100px;
    height:400px;
    background-color:#fff;
    border: 1px solid #cccccc;
    opacity: 1;
    box-sizing: border-box;
    font-size:18px;
    text-align: center;
    border-radius: 3px;
  }
  li,slide_type{
    width: 100%;
    height: 50px;
    padding: 0 10px;
  }
  .gotop{
    border-bottom:none !important;
  }
  a.type_name{
    line-height: 50px;
    width: 80px;
    height: 50px;
    display: block;
    color: #666666;
    border-bottom:1px solid #cccccc;
  }
  a.type_name:hover{
    color: #ffffff;
    width: 80px;
    height: 50px;
    border-radius: 5px;
    background-color: $backcolor;
    border-bottom:none;
  }
}